@font-face {
	font-family: Blogger Sans Medium; /* Гарнитура шрифта */
	src: url(../fonts/bloggersans/Blogger_Sans-Medium.otf);
	/* Путь к файлу со шрифтом */
}

html, body {
	font-family: Blogger Sans Medium;
	font-size: 64px;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	background: white;
	height: 10vh;
}

.header>div {
	width: 100%;
	text-align: center;
	font-family: inherit;
	color: white;
	max-height: 100%;
	line-height: 10vh;
}

.doing-header-block {
	background: #737373;
	border-right:3px solid white;
}

.ready-header-block {
	background: #599013;
}

.main-info-block {
	display: flex;
	background-image: url("../img/fon.jpg");
	background-size: cover;
	min-height: 90vh;
}

.main-info-block>div {
	width: 100%;
	display: block;
}

.main-info-block>div>.element-block {
	width: 50%;
	float: left;
}

.doing-main-block{
	border-right:3px solid white;
}

.doing-main-block .element-block {
	color: #737373;
}

.ready-main-block .element-block {
	color: #599013;
}

.element-block {
	text-align: center;
	min-height: 18vh;
	/*display: flex;*/
	line-height: 160px;
	vertical-align: middle;
}

.element-block>div {
	width: 100%;
	text-align: center;
	font-size: 96px
}

.icon {
	text-align: right;
}

.number {
	text-align: left;
	display: inline;
	vertical-align: middle;
	
}

.column {
	float: left;
	width: 50%;
}